<section id="welcome">
    <div class="container-fluid">
        <div class="row">
            <div id="welcomeTitle" class="col-md-6 offset-md-1">
                <h2 class="title">Hi, I'm Gordon</h2>
                <div class="subtitle">
                    <p>I'm a seasoned product guy who loves taking startups to the next level.</p>
                </div>
            </div>
            <div class="col-md-5">
                <%= render partial: "layouts/mars_landing" %>
            </div>
        </div>
    </div>
</section>

<section id="overview" class="section--white text-xs-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h5 class="section--title mb-2">Overview</h5>
                <p>This site exists for the following two reasons.</p>
                <p><strong>First</strong>, who doesn't have a personal website, and so, <code>hello world</code>. <strong>Second</strong>, I'd like to use this site as the foundation for a bunch of frontend experimentation and hobby projects.</p>
                <!-- gyroscope ANIMATION -->
                <div class="text-center">
                    <div class="gyroscope"></div>
                    <div class="gyroscope"></div>
                    <div class="gyroscope"></div>
                    <div class="gyroscope"></div>
                    <div class="gyroscope"></div>
                    <div class="gyroscope"></div>
                    <div class="gyroscope"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="stories" class="section--grey text-xs-center">
    <div class="container">
        <div class="row text-xs-center">
            <div class="col-md-12">
                <h5 class="section--title mb-2">Stories</h5>
                <p>A collection of my favourite endeavours, a few rants and some longer stories.</p>
            </div>
            <%= render partial: "projects/project_card" %>
        </div>
    </div>
</section>

<section id="about" class="section--white text-xs-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h5 class="section--title mb-2">Who is This Gordon Guy</h5>
                <p>The answer to that question is probably best answered with what I'm working on at the time the quesiton is asked. Currently, I'm situated with a sxciting, young startup called <a href="https://wirkn.com" target="_blank">Wirkn</a> where I head up the product & engineering teams as their CPO.</p>
                <p>Ten years ago, I stepped foot on <a href="https://uwaterloo.ca" target="_blank">UWaterloo</a> campus for the first time. With a graphing calculator in one hand and a Venti Dark Roast in the other, I couldn't have been more excited about my future in Mechanical Engineering.<p>
                <p>Little did I know that just one year later I'd be trading my iron ring in for a late nights with my trusty MacBook on beat-up couch and in a colorfully decorated startup office.</p>
                <p>I invite you to enjoy my stories and to checkout some of my hobby projects.</p>
            </div>
        </div>
    </div>
</section>

<section id="sites" class="section--grey text-xs-center">
    <div class="container">
        <div class="row text-xs-center">
            <div class="col-md-12 mb-3">
                <h5 class="section--title mb-2">Hobby Projects</h5>
                <p>
                    Some of the hobby projects and their <a href="https://github.com/gjrevans" target="_blank">GitHub Repositories</a> I've worked on to stay fresh.<br>
                    Please note, I'm using the free tier of Heroku to host these site so they can take up to 30s to load.
                </p>
            </div>
            <div class="col-md-12">
                <div class="card-columns">
                    <%= render partial: "sites/site_card" %>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sites" class="section--white text-xs-center">
    <div class="container">
        <div class="row text-xs-center">
            <div class="col-md-8 offset-md-2 mb-3">
                <h5 class="section--title mb-2">Technologies</h5>
                <p>With the risk of sounding like a <del>crotchty old man</del> a brilliant engineer, I tend to advocate for the use of <a href="http://mcfunley.com/choose-boring-technology" target="_blank">'boring technologies'</a> that get the job done. I avoid choosing the latest and greatest and belive there's always time to go back and have fun when the task at hand has been completed.</p>
                <p>Some of the technologies I love to work with.</p>
            </div>
        </div>
        <div class="row">
            <%= render partial: "layouts/technologies" %>
        </div>
    </div>
</section>

<section id="contact" class="section--grey">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <%= render partial: "contacts/contact" %>
            </div>
        </div>
    </div>
</section>
