<div id="pageContent" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="float-xs-left">Projects</h1>
            <div class="float-xs-right">
                <%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
            </div>
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @projects.each do |project| %>
                    <tr>
                        <th scope="row"><%= project.id %></th>
                        <td><%= project.title %></td>
                        <td><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Project Image" data-content='<img src="<%= image_url(project.image) %>" style="width:100%;height:170px;" alt="Project Image">'>Image</a></td>
                        <td><%= project.date %></td>
                        <td><%= truncate(project.description, length: 200) %></td>
                        <td><%= link_to 'Show', project %></td>
                        <td><%= link_to 'Edit', edit_project_path(project) %></td>
                        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function () {
    $('[data-toggle="popover"]').popover({
        placement : 'right',
        trigger : 'hover',
        html : true
    });
})
</script>
