<div id="projectImage" style="background: url(<%= @project.banner %>)"></div>
<div id="pageContent" class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="breadcrumb pt-0">
                <%= link_to "Home", root_path, class: "breadcrumb-item" %>
                <%= link_to @project.title, "#", class: "breadcrumb-item active" %>
            </nav>
            <div class="row flex-items-xs-middle">
                <div class="col-md-6">
                    <h2><%= @project.title %></h2>
                    <p class="font-weight-bold small"><%= @project.date %></p>
                </div>
                <div class="col-md-6 text-xs-right">
                    <% if @project.link.present? %>
                    <%= link_to "Visit #{@project.title}", @project.link, class: "btn btn-primary", target: "_blank" %>
                    <% end %>
                </div>
            </div>

            <div id="projectDescription" class="py-3">
                <p><%= simple_format(@project.description) %></p>
            </div>
            <hr>
            <!-- RANDOM PROJECTS -->
            <h5>Some Other Projects</h5>
            <div class="row pt-2">
                <%= render partial: "projects/project_cards" %>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#projectDescription img").addClass("img-fluid");
</script>
