<% @sites.each do |site| %>
<div class="card">
    <%= image_tag site.image, class:"card-img-top", alt:"codego" %>
    <div class="card-block">
        <h4 class="card-title"><%= site.title %></h4>
        <p class="card-text"><%= site.description %></p>
        <div class="row">
            <div class="col-sm-6">
                <%= link_to site.link, class: "btn btn-block btn-outline-primary", target: "blank" do %>
                <i class="fa fa-fw fa-rocket mr-1"></i>Launch
                <% end %>
            </div>
            <div class="col-sm-6">
                <%= link_to site.github, class: "btn btn-block btn-outline-primary", target: "blank" do %>
                <i class="fa fa-fw fa-code mr-1"></i>Code
                <% end %>
            </div>
        </div>
        <% if user_signed_in? %>
        <div class="mt-3">
            <%= link_to 'Edit', edit_site_path(site) %>
        </div>
        <% end %>
    </div>
</div>
<% end %>
