<section class="bg-primary py-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <!-- SOCIAL LINKS -->
        <ul class="d-flex w-100 align-items-center justify-content-between list-unstyled mb-0">
          <li>
            <%= link_to "https://www.twitter.com/gjrevans", target: "_blank", class: "text-white" do %>
              <span class="fa fa-twitter fa-2x"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.facebook.com/gjrevans", target: "_blank", class: "text-white" do %>
              <span class="fa fa-facebook fa-2x"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.instagram.com/gjrevans", target: "_blank", class: "text-white" do %>
              <span class="fa fa-instagram fa-2x"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.youtube.com/user/gj2393", target: "_blank", class: "text-white" do %>
              <span class="fa fa-youtube-play fa-2x"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.linkedin.com/in/gjrevans", target: "_blank", class: "text-white" do %>
              <span class="fa fa-linkedin fa-2x"></span>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "text-white" do %>
                <span class="fa fa-sign-out fa-2x"></span>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path, class: "text-white" do %>
                <span class="fa fa-sign-in fa-2x"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
